body {
  background-image: linear-gradient(
    to right bottom,
    rgba(1, 0, 7, 0.8), 
    rgba(7, 3, 10, 0.8)), 
    url("../Images/1.png");
background-size: cover; 
}

iframe {
  margin-top: 20vh;
  transform: translate(57%, -10%);
  justify-content: center;
  border-radius: 5%;
}

.Plogo {
  transform: translate(180%, 20%);
  height: 100px;
  width: 300px;
}
