*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #232741;
}

.rocket {
  width: 16rem;
  position: fixed;
  bottom: 5rem;
  left: 4rem;
}
.moon {
  top: 10rem;
  right: 8rem;
  position: fixed;
  width: 6rem;;
}

.logo__img {
  width: 25rem;
  position: relative;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .6rem;
  box-shadow: 0px 8px 12px rgba(0,0,0,.8);
}
.heading {
  font-size: 5rem;
  text-align: center;
  border-bottom: 3px solid limegreen;
  display: inline-block;
  color: #fff;
}
.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100vh;
  left: 50%;
  transform: translate(-50%);
}
input {
    font-size: 1.8rem;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    margin-top: 1.8rem;
}

@media only screen and (max-width: 620px) {
  iframe {
    width: 100%;
    height: 43.28%;
  }
}
@media only screen and (max-width: 412px) {
  html {
    font-size: 50%;
  }
}